<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="SQLProvider" value="SQLOLEDB" />
        <add key="SQLConnectionStringName" value="AzureSql" />
    </appSettings>
    <connectionStrings>
        <add name="AzureSql" connectionString="Server=localhost,1433;Initial Catalog=Poc;Integrated Security=true;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" />
        <customErrors mode="Off" />
        <sessionState mode="InProc" cookieless="false" timeout="20" />
        <machineKey validation="SHA1" decryption="AES" validationKey="1E3D5BABF386E7A89DAE461DF2FA228734680C61" decryptionKey="18F665CA29B4911B0C1755979C15F40466237BC9A101836A5AC6D1CE85D6B022" />
    </system.web>
    <system.webServer>
        <httpErrors errorMode="Detailed" />
        <asp appAllowClientDebug="True" appAllowDebugging="True" scriptErrorSentToBrowser="True" enableParentPaths="True">
            <comPlus appServiceFlags="EnableTracker" />
            <limits maxRequestEntityAllowed="2147483647" />
            <session allowSessionState="true" timeout="00:20:00" />
        </asp>
    </system.webServer>
</configuration>